[submodule "lib/BreezySTM32"]
	path = lib/BreezySTM32
	url = https://github.com/qutas/BreezySTM32
[submodule "lib/TurboTrig"]
	path = lib/TurboTrig
	url = https://github.com/ibilux/TurboTrig
[submodule "lib/libfixmath"]
	path = lib/libfixmath
	url = https://github.com/PetteriAimonen/libfixmath
[submodule "lib/libfixmatrix"]
	path = lib/libfixmatrix
	url = https://github.com/PetteriAimonen/libfixmatrix
[submodule "lib/mavlink"]
	path = lib/mavlink
	url = https://github.com/mavlink/c_library_v2
